@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

header {
    width: 1496px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(0, 0, 0);
}

.head {
    position: sticky;
    z-index: 3;
}

.logo {
    font-family: 'Autour One', cursive;
    font-size: 36px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    cursor: pointer;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}

a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

nav li a:hover {
    color: rgb(17, 202, 218);
    transition: all 0.3s;
}

h1,
h2 {
    color: #000000;
}
.heads{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 50px;
}
.container{
    padding: 0px 180px;
}

.gallery img {
    width: 550px;
    height: 500px;
}
.buttons{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btns{
    padding: 10px;
    width: 130px;
    margin-bottom: 50px;
    border-radius: 4px;
}
.btns:hover{
    cursor: pointer;
    background-color: #947070;
    color: white;
}