* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

header {
    width: 1496px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color:  rgb(0, 0, 0);
}

.head {
    position: sticky;
    z-index: 3;
}

.logo {
    font-family: 'Autour One', cursive;
    font-size: 36px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    cursor: pointer;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}

a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

nav li a:hover {
    color: rgb(17, 202, 218);
    transition: all 0.3s;
}
/*main content*/

 .gallery {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border: 1px solid #ffffff;
}

.gallery-item img {
    width: 100%;
    height: auto;
}